/* .pkp_head_wrapper {
    padding: 0px!important;
} */

.pkp_site_name .is_img {
    display: inline-block;
    padding-left: 27px;
}

.pkp_navigation_primary { 
    padding-left: 25px;
}
.site_header {
    box-shadow: 0 -2px 5px -3px rgba(74,72,72,.75);
    border-top: 1px solid #fff;
}

}

html,body { 
    background: #fafafa!important;
}

.pkp_page_index { 
    background: #fafafa!important;
}
 

.bottom-head {  
    width: 100%;
    height: 14px;
    background: url(https://demo.openjournaltheme.com/plugins/themes/academic_pro/images/headershadow.png) no-repeat scroll center -8px;
}

.bottom-wrap {
    background: #fafafa; 
}

.pkp_navigation_user_wrapper {
    background: linear-gradient(
        135deg
        , #bd23aa 0%, #bd16c8 44%, #750b72 100%)!important;
        }
}

.pkp_navigation_primary > li > a {
    margin: 0px!important;
}

.pkp_head_wrapper { 
    background: #FFF!important;
    text-decoration: none!important;
    color: #444;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

a {
    color: #7b1b82!important;
    text-decoration: none;
    background-color: transparent;
}
 



footer[role=contentinfo] {
    background: url(https://demo.openjournaltheme.com/plugins/themes/academic_pro/images/footer_bg.png) repeat;
    color: #afafaf;
    padding: 25px 0 0 0;
    margin-top: -2px;
    font-size: .9em;
    font-family: Merriweather,serif; 
    border-top: 5px solid #a02ca7;
}
.footer-contact {
    padding: 20px 0;
    font-size: 12px;
} 
.copyright-wrapper {
    background: #1a1a1a;
    border-top: 1px solid #2d2d2d;
    margin: 30px 0 0 0;
    padding: 14px 0 14px;
    position: relative;
    color: #555;
    width: 100%;
}

@media (min-width: 768px){
    .obj_issue_summary .cover {
        float: left;
        width: 42%;
        height: auto;
        margin-right: 20px;
    }
}

.pkp_structure_content  {  
    width: 100%;
}



@media (max-width: 2440px){
    
    .pkp_structure_main {
        background: #FFF;
        margin-top: 0px!important;
        width: 1048px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 1px rgba(0,0,0,0.23);
    }
}

@media (max-width: 1024px){
    
    .pkp_structure_main {
        background: #FFF;
        margin-top: 0px!important;
        width: 100%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 1px rgba(0,0,0,0.23);
    }
}

@media (max-width: 320px){
    
    .pkp_structure_main {
        background: #FFF;
        margin-top: 0px!important;
        width: 100%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 1px rgba(0,0,0,0.23);
    }
}

.pkp_head_wrapper {
    width: 100%!important;
    margin:0px!important;
}

.pkp_structure_footer_wrapper {
    background: #ddd; 
}
 
.pkp_structure_main:before, .pkp_structure_main:after { 
    background: #ddd0!important;
}

/* 
@media (min-width: 992px){
    .pkp_site_name { 
        margin-bottom:-25px!important;
    }
} */

.is_img img {
    border-radius:21px;
}
.pkp_structure_main:before{
    background: #ddd0!important;
}
.pkp_structure_main:after {
    background: #ddd0!important;
}

@media (min-width: 768px){
    .pkp_page_index .journals .thumb {
        float: left;
        width: 50%;
        padding-right: 20px;
    }
}
@media (min-width: 768px){
    .pkp_page_index .journals .thumb + .body {
        float: right;
        width: 50%;
    }
}

.pkp_structure_head {
    background-color: #fafafa!important;
    border-bottom: 1px solid #ddd;
}

 .pkp_head_wrapper {
    width: 100%!important;
}
.has_site_logo .pkp_head_wrapper {
    width: 100%!important;
}

.dropdown-menu  { 
    background: #9f2ca7b3!important;
}

.profile .dropdown-menu {
    background: #9e2ba6bd!important;
}

@media (min-width: 992px){
    .pkp_structure_content {
        padding-top: 0px!important;
    }
}

@media (min-width:425px){
    .obj_issue_summary .cover {
        display: block;
        height: 190px;
        overflow: hidden;
        margin-bottom: 20px;
    }
}

@media (min-width:320px){
    .obj_issue_summary .cover {
        display: block;
        height: 155px;
        overflow: hidden;
        margin-bottom: 20px;
    }
}


.pkp_structure_main:before, .pkp_structure_main:after {
    background:transparent!important;
}
#navigationPrimary > li > a { 
    color: #555!important; 
}

.pkp_nav_list a {
    color: #555!important;
    font-weight: bold!important;
} 
.dropdown-menu:hover li{
    background:#bd23aa!important;
}


.pkp_navigation_primary > li > a {
     padding: 4px!important;
}

.cmp_button, .cmp_form .buttons button, .pkp_head_wrapper .pkp_search button, .page_lost_password .buttons button, .page_search .submit button, .block_make_submission a {
    display: inline-block;
    padding: 0 1em;
    background: #ff1e24;
    border: 1px solid rgb(242 29 34);
    border-top-color: #fb1e23;
    border-radius: -6px;
    box-shadow: inset 0 -1em 1em rgba(0,0,0,0.1);
    font-size: 13px;
    line-height: 28px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}

.page_issue_archive .issues_archive {
   
     border-top: none!important;
}
 
.pkp_structure_main:before, .pkp_structure_main:after {
     background: transparent!important!important;
}

.obj_issue_toc .galleys:before, .obj_issue_toc .section:before {
    
      border-top:none!important;
}

.issues_archive { 
    border-top: none!important;
}
.pkp_navigation_primary > li > a {
    margin: 0px!important;
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1025px!important;
    }
}


.pkp_structure_sidebar { 
    float: right;
    background: #fff!important;
    float: right;
    width: 289px;
}

.pkp_block {
    padding: 0px !important;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 9px;
}

.block_custom img {
    background: #DDD;
    padding: 32px;
    width: 100%;
}


#customblock-Statscounter {
    background-color: #DDD;
}

.block_make_submission {   
    background-color: #DDD;
}

.pkp_structure_content { 
    width: 100%;
    padding: 11px;
}

.content {
    padding:0px!important;
}

#customblock-Information > div > div {
    width:100%!important;
}
#customblock-sidebar{
background: linear-gradient(
    135deg
    , #4e1d8e 0%, #4f177f 44%, #ee27fb 100%)!important;
}

.customblock-Test ul li {
    background-color: #DDD;
    padding:3px;
}
.pkp_block .content ul li a {
    font-weight: bold!important;
    color: #FFF!important;
}
.pkp_block .content ul li {
    background: linear-gradient( 
135deg
 , #4e1d8e 0%, #4f177f 44%, #ee27fb 100%)!important;
    border: 1px solid #DDD;
    line-height: 20px;
    margin: 3px;
    border-radius: 7px;
    padding: 12px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.pkp_structure_main {
    -webkit-box-shadow: 0 1px 15px 1px rgb(113 106 202 / 8%);
    -moz-box-shadow: 0 1px 15px 1px rgba(113,106,202,.08);
    box-shadow: 0 1px 15px 1px rgb(113 106 202 / 8%);
}

.pkp_structure_sidebar  {
    -webkit-box-shadow: 0 1px 15px 1px rgb(113 106 202 / 8%);
    -moz-box-shadow: 0 1px 15px 1px rgba(113,106,202,.08);
    box-shadow: 0 1px 15px 1px rgb(113 106 202 / 8%);
}

.pkp_structure_footer_wrapper {
    background: #ddd;
    margin-top: 0px!important;
}

 /* Make the image fully responsive */
 .img-full {
    width: 100vw;
    height: 100vh;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    top: 27%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.img-link img{
    padding:21px;
}

.img-link img:hover{
    transition:0.5s ease;
    padding:0px!important;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
 

.pkp_site_name .is_img img {
    display: block;
    max-height: 80px;
    max-width: 100%;
    width: auto;
    height: auto;
    margin-top: 9px!important;
    margin-left: 17px!important;
}

a {
    text-decoration: none!important;
}